<% provide(:title, 'Home') %>

<!DOCTYPE html>

<html>
<head>
	<title>Sandbox Rails app | <%= yield(:title) %></title>
</head>
<body>

<h1>StaticPages#Home</h1>
<p>Find me in app/views/static_pages/Home.html.erb</p>

</body>
</html>
